@page "/items"
@using Inventory.Backend.Abstraction;
@inject IItemsOperations _itemsOperations

<TableTemplate Items="AllItems" Context="item">
    <TableHeader>
        <th>Category</th>
        <th>Name</th>
    </TableHeader>
    <RowTemplate>
        <td>@item.Category</td>
        <td>@item.Name</td>
    </RowTemplate>
</TableTemplate>

@code {
    [Parameter, AllowNull]
    public List<Models.ItemInputModel> AllItems { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        AllItems = _itemsOperations.GetItems().Select(x => new ItemInputModel
            {
                Name = x.Name,
                Category = x.Category,
            }).ToList();

        return base.OnInitializedAsync();
    }
}
